{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>상품 등록</h2>
    <form method="POST" action="{% url 'create' %}">
        {% csrf_token %}
        <label>상품명:</label><br>
        <input type="text" name="product_name"><br><br>

        <label>상품 설명:</label><br>
        <textarea name="product_explain"></textarea><br><br>

        <label>가격:</label><br>
        <input type="number" name="product_price"><br><br>

        <button type="submit" class="create">저장</button>
    </form>
    <a href="{% url 'shop' %}">← 목록으로</a>
</div>
{% endblock %}