{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>🛍 상품 목록</h2>
    {% if request.user.is_authenticated %}
        <a href="{% url 'new' %}">
            <button class="create">+ 새 상품 등록</button>
        </a>
    {% endif %}
    <table>
        <tr>
            <th>상품명</th>
            <th>가격</th>
        </tr>
        {% for product in products %}
        <tr>
            <td><a href="{% url 'detail' product.id %}">{{ product.summary }}</a></td>
            <td>{{ product.product_price }}원</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}